<template>
	<div></div>
</template>

<script lang="ts">
import Vue from "vue";

import { SVG, Svg, Line, Circle, Path } from '@svgdotjs/svg.js';
import "@svgdotjs/svg.draggable.js";

let radius = 10;

class Point {
	x: number;
	y: number;

	constructor(x: number, y: number) {
		this.x = x;
		this.y = y;
	}

	add(other: Point) : Point {
		return new Point(this.x + other.x, this.y + other.y);
	}

	sub(other: Point) : Point {
		return new Point(this.x - other.x, this.y - other.y);
	}

	mult(factor: number) : Point {
		return new Point(this.x * factor, this.y * factor);
	}

	rotate(center: Point, degree: number) : Point {
		let rad = degree * Math.PI / 180;
		let sin = Math.sin(rad);
		let cos = Math.cos(rad);

		let tmp = this.sub(center);

		return new Point(
			tmp.x * cos - tmp.y * sin,
			tmp.x * sin + tmp.y * cos
		).add(center);
	}
}

class RefPoint {
	p: Point;
	h: Point;

	constructor(p: Point, h: Point) {
		this.p = p;
		this.h = h;
	}

	rotate(center: Point, degree: number) {
		return new RefPoint(
			this.p.rotate(center, degree),
			this.h.rotate(center, degree)
		);
	}
}

class Segment {
	start: RefPoint;
	end: RefPoint;

	constructor(start: RefPoint, end: RefPoint) {
		this.start = start;
		this.end = end;
	}

	rotate(center: Point, degree: number) {
		return new Segment(
			this.start.rotate(center, degree),
			this.end.rotate(center, degree)
		);
	}

	path_string(): string {
	  return `C ${this.start.h.x} ${this.start.h.y}, ${this.end.h.x} ${this.end.h.y}, ${this.end.p.x} ${this.end.p.y} `;
	}

	reverse(): Segment {
		return new Segment(
			this.end,
			this.start
		);
	}

	create_handles(svg: Svg, path: Path, triangle: Triangle) {

	//	start
		let start_line = svg.line(
			this.start.p.x,
			this.start.p.y,
			this.start.h.x,
			this.start.h.y).stroke('red');

		let start_dot = svg.circle(10).move(this.start.h.x-5,this.start.h.y-5).fill('yellow');
		start_dot.draggable();
		start_dot.front();
		start_dot.on('dragmove', (e: any) => {
			const {handler, box} = e.detail;
			e.preventDefault();
			this.start.h.x = box.x;
			this.start.h.y = box.y;
			start_dot.move(this.start.h.x, this.start.h.y);
			start_line.plot(this.start.p.x, this.start.p.y, this.start.h.x+5, this.start.h.y+5);
			path.plot(triangle.path_string());
			start_dot.front()
		});
	//	end
		let end_line = svg.line(
			this.end.p.x,
			this.end.p.y,
			this.end.h.x,
			this.end.h.y).stroke('red');

		let end_dot = svg.circle(10).move(this.end.h.x-5,this.end.h.y-5).fill('yellow');
		end_dot.draggable();
		end_dot.front();
		end_dot.on('dragmove', (e: any) => {
			const {handler, box} = e.detail;
			e.preventDefault();
			this.end.h.x = box.x;
			this.end.h.y = box.y;
			end_dot.move(this.end.h.x, this.end.h.y);
			end_line.plot(this.end.p.x, this.end.p.y, this.end.h.x+5, this.end.h.y+5);
			path.plot(triangle.path_string());
			end_dot.front()
		});
	}
}

class Triangle {
	readonly size: number;
	readonly height: number;
	large: Segment;
	small: Segment;

	constructor(size: number) {
		this.size = size;
		this.height = Math.sqrt(3) * (this.size/2);

		function default_segment(start: Point, end: Point) {
			return new Segment(
				new RefPoint(
					start,
					start.add(end.sub(start).mult(1/3))
				),
				new RefPoint(
					end,
					end.add(start.sub(end).mult(1/3))
				)
			);
		}

		let start = new Point(0,0);
		let end = new Point(this.size/2, -this.height);

		this.large = default_segment(
			new Point(0,0),
			new Point(this.size/2, -this.height)
		);

		this.small = default_segment(
			new Point(this.size/2, 0),
			new Point(0,0)
		);
	}
	
	path_string(): string {
		//	start point
		return `M ${this.small.start.p.x} ${this.small.start.p.y} `
		+ this.small.path_string() 
		+ this.large.path_string()
		+ this.large.rotate(this.large.end.p, 300).reverse().path_string()
		+ this.small.rotate(this.small.start.p, 180).reverse().path_string();
	}
}


export default Vue.extend({
	mounted: function () {
		console.log(this.$el);
		let width = 300;

		let triangle = new Triangle(width);
		
		let svg = SVG().addTo(this.$el as HTMLElement).size(1200,800).viewbox(-600 + width/2  , -400, 1200, 800);

		let path = svg.path(triangle.path_string()).stroke('black')


		let g1 = svg.group();
		g1.use(path).rotate(300, width/2, -triangle.height).fill('#f3e9d2');

		let g2 = svg.group();
		g2.use(path).rotate(120, width, 0).fill('#c6dabf');

		let g3 = svg.group();
		g3.use(path).rotate(180, width/2, -triangle.height).fill('#114b5f');
		g3.translate(1.5 * width ,triangle.height);

		let g4 = svg.group();
		g4.use(path).rotate(60, width/2, -triangle.height).fill('#1a936f');

		let g5 = svg.group();
		g5.use(path).rotate(240, width/2, -triangle.height).fill('#88d498');
		g5.translate(-1.5 * width, triangle.height);

		let block = svg.group();
		block.add(path);
		block.add(g1);
		block.add(g2);
		block.add(g3);
		block.add(g4);
		block.add(g5);

		let row = svg.group();
		row.add(block);
		row.add(svg.use(block).translate(-3*width, 0));
		row.add(svg.use(block).translate(3*width, 0));

		svg.use(row).translate(-1.5*width, triangle.height);
		svg.use(row).translate(1.5*width, -triangle.height);
		svg.use(row).translate(0, 2*triangle.height);

		triangle.large.create_handles(svg, path, triangle); 
		triangle.small.create_handles(svg, path, triangle); 
	}
});

</script>

<style>
	svg { background: lightgrey;
display: block;
  margin-left: auto;
  margin-right: auto; }


</style>
